In [1]:
import pandas as pd
import json

In [2]:
# combination_set = set()

# for combination in df.combination:
#     for i in combination:
#         combination_set.add(i)

# combination_index_dict = {combination: i for i, combination in enumerate(combination_set, start=0)}
# json.dump(combination_index_dict, open("combination_index.json", "w"), indent=4)

with open("combination_index.json") as f:
    combination_index_dict = json.load(f)
    
combination_index_dict

{'Infiltrator': 0,
 'Sniper': 1,
 'MechPilot': 2,
 'Chrono': 3,
 'Set3_Celestial': 4,
 'Rebel': 5,
 'Set3_Mystic': 6,
 'Demolitionist': 7,
 'Set3_Brawler': 8,
 'Cybernetic': 9,
 'StarGuardian': 10,
 'Protector': 11,
 'Set3_Blademaster': 12,
 'Set3_Sorcerer': 13,
 'SpacePirate': 14,
 'TemplateTrait': 15,
 'DarkStar': 16,
 'Starship': 17,
 'Set3_Void': 18,
 'Mercenary': 19,
 'Valkyrie': 20,
 'Blaster': 21,
 'ManaReaver': 22,
 'Vanguard': 23}

In [3]:
# champion_set = set()

# for champion in df.champion:
#     for i in champion:
#         champion_set.add(i)
        
# champion_index_dict = {champion: i for i, champion in enumerate(champion_set, start=1)}
# json.dump(champion_index_dict, open("champion_index.json", "w"), indent=4)

with open("champion_index.json") as f:
    champion_index_dict = json.load(f)
    
champion_index_dict

{'Kayle': 1,
 'ChoGath': 2,
 'Lux': 3,
 'Lucian': 4,
 'Irelia': 5,
 'Malphite': 6,
 'AurelionSol': 7,
 'MissFortune': 8,
 'Vi': 9,
 'Sona': 10,
 'Thresh': 11,
 'Ahri': 12,
 'Ziggs': 13,
 'Syndra': 14,
 'KaiSa': 15,
 'Blitzcrank': 16,
 'Xayah': 17,
 'Shaco': 18,
 'Graves': 19,
 'XinZhao': 20,
 'Jinx': 21,
 'Rakan': 22,
 'KhaZix': 23,
 'Fizz': 24,
 'Ezreal': 25,
 'Jayce': 26,
 'Fiora': 27,
 'Kassadin': 28,
 'Xerath': 29,
 'Darius': 30,
 'Ekko': 31,
 'Rumble': 32,
 'Leona': 33,
 'JarvanIV': 34,
 'Ashe': 35,
 'Zoe': 36,
 'Soraka': 37,
 'Yasuo': 38,
 'Lulu': 39,
 'WuKong': 40,
 'MasterYi': 41,
 'Gangplank': 42,
 'TwistedFate': 43,
 'Shen': 44,
 'Jhin': 45,
 'Neeko': 46,
 'Annie': 47,
 'VelKoz': 48,
 'Mordekaiser': 49,
 'Poppy': 50,
 'Caitlyn': 51,
 'Karma': 52}

In [4]:
def combination_preprocessing(string_format):
    idx_list = [0 for _ in range(len(combination_index_dict))]
    idx_dict = {}
    string_dict = json.loads(string_format)
    for key, value in string_dict.items():
        idx_list[combination_index_dict[key]] = value
        
    return idx_list


def champion_preprocessing(string_format):
    idx_list = [0 for _ in range(60)]
    string_dict = json.loads(string_format)
    for idx, (key, value) in enumerate(string_dict.items()):
        start_pos = idx * 5
        idx_list[start_pos] = champion_index_dict[key]
        for item_idx, item in enumerate(value["items"], start=(start_pos + 1)):
            idx_list[item_idx] = item
        idx_list[start_pos + 4] = value["star"]
        
    return idx_list

In [5]:
df = pd.read_csv("TFT_Challenger_MatchData.csv")
df = df[["combination", "champion", "Ranked"]]

# # Get the length of combination and champion
# df["combination_length"] = df.combination.apply(len)
# df["champion_length"] = df.champion.apply(len)

# Check to dictionary
df.combination = df.combination.apply(combination_preprocessing)
df.champion = df.champion.apply(champion_preprocessing)

# Remove empty data
df.drop(df[(df.combination == dict()) & (df.champion == dict())].index, inplace=True)
df.drop(df[df.champion == dict()].index, inplace=True)


df.head()

,combination,champion,Ranked
0,"[0, 0, 0, 0, 3, 1, 4, 0, 0, 0, 2, 4, 0, 0, 0, ...","[34, 27, 0, 0, 3, 10, 46, 0, 0, 3, 22, 37, 69,...",1
1,"[0, 0, 0, 0, 0, 6, 2, 0, 1, 0, 1, 0, 3, 0, 0, ...","[6, 7, 0, 0, 2, 38, 99, 22, 23, 2, 10, 0, 0, 0...",2
2,"[4, 0, 3, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 2, 0, ...","[15, 99, 2, 23, 2, 47, 37, 0, 0, 2, 18, 16, 19...",3
3,"[4, 0, 3, 0, 0, 0, 0, 2, 0, 1, 0, 0, 0, 1, 1, ...","[15, 44, 37, 0, 2, 47, 0, 0, 0, 2, 18, 15, 16,...",4
4,"[0, 0, 0, 0, 1, 6, 2, 2, 0, 0, 0, 0, 2, 0, 1, ...","[13, 0, 0, 0, 1, 38, 0, 0, 0, 1, 10, 0, 0, 0, ...",5

In [6]:
for combination, idx in combination_index_dict.items():
    df[combination] = df.combination.apply(lambda x: x[idx])

In [7]:
for i in range(12):
    start_pos = i * 5
    df[f"character_{i + 1}_name"] = df.champion.apply(lambda x: x[start_pos])
    df[f"character_{i + 1}_item_1"] = df.champion.apply(lambda x: x[start_pos + 1])
    df[f"character_{i + 1}_item_2"] = df.champion.apply(lambda x: x[start_pos + 2])
    df[f"character_{i + 1}_item_3"] = df.champion.apply(lambda x: x[start_pos + 3])
    df[f"character_{i + 1}_star"] = df.champion.apply(lambda x: x[start_pos + 4])

In [8]:
df.drop(columns=['combination', 'champion'], inplace=True)

In [9]:
df.columns

Index(['Ranked', 'Infiltrator', 'Sniper', 'MechPilot', 'Chrono',
       'Set3_Celestial', 'Rebel', 'Set3_Mystic', 'Demolitionist',
       'Set3_Brawler', 'Cybernetic', 'StarGuardian', 'Protector',
       'Set3_Blademaster', 'Set3_Sorcerer', 'SpacePirate', 'TemplateTrait',
       'DarkStar', 'Starship', 'Set3_Void', 'Mercenary', 'Valkyrie', 'Blaster',
       'ManaReaver', 'Vanguard', 'character_1_name', 'character_1_item_1',
       'character_1_item_2', 'character_1_item_3', 'character_1_star',
       'character_2_name', 'character_2_item_1', 'character_2_item_2',
       'character_2_item_3', 'character_2_star', 'character_3_name',
       'character_3_item_1', 'character_3_item_2', 'character_3_item_3',
       'character_3_star', 'character_4_name', 'character_4_item_1',
       'character_4_item_2', 'character_4_item_3', 'character_4_star',
       'character_5_name', 'character_5_item_1', 'character_5_item_2',
       'character_5_item_3', 'character_5_star', 'character_6_name',
       'character_6_item_1', 'character_6_item_2', 'character_6_item_3',
       'character_6_star', 'character_7_name', 'character_7_item_1',
       'character_7_item_2', 'character_7_item_3', 'character_7_star',
       'character_8_name', 'character_8_item_1', 'character_8_item_2',
       'character_8_item_3', 'character_8_star', 'character_9_name',
       'character_9_item_1', 'character_9_item_2', 'character_9_item_3',
       'character_9_star', 'character_10_name', 'character_10_item_1',
       'character_10_item_2', 'character_10_item_3', 'character_10_star',
       'character_11_name', 'character_11_item_1', 'character_11_item_2',
       'character_11_item_3', 'character_11_star', 'character_12_name',
       'character_12_item_1', 'character_12_item_2', 'character_12_item_3',
       'character_12_star'],
      dtype='object')

In [10]:
df.head()

,Ranked,Infiltrator,Sniper,MechPilot,Chrono,Set3_Celestial,Rebel,Set3_Mystic,Demolitionist,Set3_Brawler,...,character_11_name,character_11_item_1,character_11_item_2,character_11_item_3,character_11_star,character_12_name,character_12_item_1,character_12_item_2,character_12_item_3,character_12_star
0,1,0,0,0,0,3,1,4,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,6,2,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,4,0,3,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,4,0,3,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,1,6,2,2,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df.to_csv("training_data.csv")